header {
    background-image: url(../Images/backgrounds/landing.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}
#headertext {
    font-size: 30px;
    text-align: center;
    color: white;
}
#logo1 {
    height: 22%;
    width: 22%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 60px;
}